In [7]:
import pandas as pd
from langdetect import detect
import sys
sys.path.append("../")
from functions import preprocess_desc_for_classif, extract_skills_job, classify_job, predict_salaire_dh, extract_info_job

In [35]:
rekrute = pd.read_csv("rekrute.csv")
emploi_ma = pd.read_csv("emploi.ma.csv")
khdma_ma = pd.read_csv("khdma.ma.csv")
marocannonces = pd.read_csv("maroc_annonces.csv")

In [36]:
khdma_ma["pays"] = khdma_ma["pays"].replace("MA", "Maroc")

In [37]:
rekrute["source"] = "Rekrute"
emploi_ma["source"] = "Emploi.ma"
khdma_ma["source"] = "Khdma.ma"
marocannonces["source"] = "Maroc Annonces"

In [38]:
df = pd.concat([rekrute, emploi_ma, khdma_ma, marocannonces], ignore_index=True)

In [39]:
df.rename(columns={"titre": "title"}, inplace=True)
df.rename(columns={"date_poste": "date"}, inplace=True)
df.rename(columns={"date_fin": "deadline"}, inplace=True)
df.rename(columns={"ville": "city"}, inplace=True)
df.rename(columns={"pays": "country"}, inplace=True)
df.rename(columns={"entreprise": "company"}, inplace=True)
df.rename(columns={"langue": "lang"}, inplace=True)

In [40]:
df["link"] = "#"
df["company_logo"] = "#"

In [41]:
df.columns

Index(['title', 'date', 'deadline', 'description', 'experience', 'industrie',
       'contrat', 'city', 'country', 'company', 'lang', 'source', 'salaire',
       'link', 'company_logo'],
      dtype='object')

In [42]:
df = df.drop(columns=["industrie", "contrat", "salaire"])

In [45]:
df["domain"] = df["description"].apply(lambda x: classify_job(x))

In [47]:
df["hskills"] = df["description"].apply(lambda x: ", ".join(extract_skills_job(x)))

UnboundLocalError: cannot access local variable 'doc' where it is not associated with a value

In [ ]:
df["salary_estimation"] = df["description"].apply(lambda x: predict_salaire_dh(x))

In [ ]:
for i in range(len(df)):
    infos = extract_info_job(df["description"][i])
    df["soft_skills"][i] = ", ".join(list(infos["SOFT-SKILL"]))
    df["profile"][i] = ", ".join(list(infos["POSTE"]))
    df["education"][i] = ", ".join(list(infos["EDUCATION"]))
    df["experience"][i] = ", ".join(list(infos["EXPERIENCE"]))
    df["langues"][i] = ", ".join(list(infos["LANGUE"]))

In [ ]:
df

,title,date,deadline,description,experience,industrie,contrat,city,country,company,source,salaire,link
0,Consultant Junior,2006-02-02 03:45:53,2006-02-02 03:45:53,H/F.Issu d'une grande école d'Ingénieurs ou d...,Moins de 1 an,Conseil / Etudes,CDD,Tétouan,Maroc,ReKrute,Rekrute,NaN,#
1,Secrétaire Comptable,2006-02-02 03:45:53,2006-03-02 03:45:53,H/F.Vous possédez une formation bac+2 de type...,Débutant,Comptabilité / Audit,CDI,Bouznika,Maroc,ReKrute,Rekrute,NaN,#
2,Intitulé du poste,2001-01-20 08:00:00,2008-01-20 08:00:00,Description du poste Profil du candidat Descri...,De 5 à 10 ans,Agriculture / Environnement,CDI,Ville,Autriche,ReKrute,Rekrute,NaN,#
3,Directeur Administratif et Financier,2006-06-23 07:00:00,2006-07-23 23:00:00,"Rattaché à la Direction Générale, vous serez e...",De 5 à 10 ans,Autres services,CDI,Casablanca,Maroc,Eumatech,Rekrute,NaN,#
4,Sales Managers Francophones,2006-02-12 07:00:00,2006-03-16 07:00:00,Votre mission consistera à assurer la responsa...,De 5 à 10 ans,Autres services,CDI,Casablanca,Maroc,Eumatech,Rekrute,NaN,#
...,...,...,...,...,...,...,...,...,...,...,...,...,...
106844,Agents commerciaux,2023-02-26 09:24,2023-08-25 09:24,"<p>Nous recherchons des agents commerciaux, pa...",NaN,Commercial / Vente,A discuter,Rabat,Maroc,Markoub.ma,Maroc Annonces,A discuter,#
106845,Gestionnaire de sinistre automobile oujda,2023-02-26 09:06,2023-08-25 09:06,"<p>Un bac+2 / 3 en gestion dâentreprise, log...",NaN,Banque / Finance / Assurance,CDD,Oujda,Maroc,Pare-brise express,Maroc Annonces,A discuter,#
106846,Assistante de spa manager,2023-02-26 09:24,2023-08-25 09:24,<p>Spa haut de gamme dans la mÃ©dina de Marrak...,NaN,Tourisme / HÃ´tellerie / Restauration,CDD,Marrakech,Maroc,Spa haut de gamme,Maroc Annonces,4 000 - 6 000 DH,#
106847,Assistante administrative,2023-02-26 09:52,2023-08-25 09:52,"<p>Dans le cadre de notre dÃ©veloppement, nous...",NaN,Accueil / SecrÃ©tariat / Administration,CDI,Tanger,Maroc,Strapack Morocco,Maroc Annonces,4 000 - 6 000 DH,#
106848,Barman (e)et serveur(e),2023-02-26 10:50,2023-08-25 10:50,<p>CafÃ© segafredo cherches des unitÃ©s polyva...,NaN,Tourisme / HÃ´tellerie / Restauration,A discuter,Rabat,Maroc,Segafredo,Maroc Annonces,A discuter,#

In [ ]:
df.to_csv("static_data.csv", index=False)